<div class="main-container">
  <header class="header-2">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="home" size="24"></clr-icon>
        <span class="title">Project Clarity</span>
      </a>
    </div>
    <div class="header-nav">
      <a class="active nav-link nav-text">Home</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <form clrForm [formGroup]="signUpForm">
        <clr-password-container>
            <label>Password</label>
            <input clrPassword formControlName="password" />
            <clr-control-error *clrIfError="'required'">This password is required!</clr-control-error>
            <clr-control-error *clrIfError="'minlength'">It must be at least 4 characters!</clr-control-error>
            <clr-control-error *clrIfError="'maxlength'">It must be less than 12 characters!</clr-control-error>
        </clr-password-container>
        <clr-password-container>
           <label> Confirm Password</label>
           <input clrPassword formControlName="confirmPassword"/>
           <clr-control-error *clrIfError="'required'">Confirm Password is required!</clr-control-error>
           <clr-control-error *clrIfError="'mismatch'">Password Confirmation must match password</clr-control-error>
        </clr-password-container>
        <div style="display: flex;
            justify-content: flex-start;
            margin-top: 20px;">
          <button [disabled]="signUpForm.invalid"
            class="btn btn-primary"
            style="display: flex;
                  justify-content: center;"
            type="submit"
            (click)="submit()">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>